*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: center;
}

main{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
}

p{
    font-size: 25px;
}

#navbar{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerLeft{
    margin-left: 10px;
    display: flex;
}

#headerRight{
    margin-right: 30px;
}

#calendar{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 1px 1px black;
    display: flex;
}

#checkUser{
    width: 10%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#day{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#myModal{
    display: none;
    border: 1px solid black;
    width: 38%;
    height: 50%;
    position: fixed;
    top: 30%;
    left: 34%;
    background-color: white;
    border-radius: 80px;
}

#contentDetailModal{
    display: none;
    border: 1px solid black;
    width: 38%;
    height: 50%;
    position: fixed;
    top: 30%;
    left: 34%;
    background-color: white;
    border-radius: 80px;

}

#modalHeader{
    width: 50%;
    display: flex;
    justify-content: center;
}
#modalDate{
    font-size: 35px;
    margin-bottom: 10%;
}

#saveModalBtn{
    margin-top: 10%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

#contentDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.infoBtn{
    width: 100%;
    height: 50%;
    margin-bottom: 30%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.modalCloseBtn{
    font-size: 30px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    left: 65%;
    top: 35%;
}

.go{
    width: 50px;
    height: 40px;
    font-size: 40px;
    border: 0;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.user{
    width: 140px;
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.dateBtn {
    font-size: 20px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
}

.modal{
    margin-top: 5%;
}

.modalInput{
    width: 300px;
    height: 30px;
}

